body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: rgb(191, 220, 236); /* Soft background color */
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.menu-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #444;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #444;
    color: #fff;
    padding: 10px;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #555;
    text-decoration: underline;
}

.content {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

section {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
        display: none;
    }
    .content {
        margin-left: 0;
        width: 100%;
    }
    .menu-toggle {
        display: block;
    }
}
